//
// Passing in a single value will create font-sizing in 
// pixels, rems as well as a proper line-height.
// 
//    `@include font-size(24px);`
// 

@mixin font-size($font-size, $line-height:true) {
    font-size: $font-size;
    font-size: ($font-size / $base-font-size) * 1rem;
	
    @if $line-height == true {
        line-height: ceil($font-size / $base-line-height) * ($base-line-height / $font-size);
    }
}
